<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>01-layout</title>
<style>
    *{
        margin: 0;
    }
    header{
        background: #B6C3A2;
        height: 100px;
    }
    aside {
        background: #F8FEB5;
        height: 500px;
        width: 50%;
        float: left;
    }
    main{
        background: #E8C47E;
        height: 500px;
        width: 50%;
        float: right;
    }
    footer{
        clear: both;
        height: 100px;
        background: #D8EDE7;

    }
</style>
</head>
<body>

    <header>
        <h1>header</h1>
    </header>
    <aside>
        <h1>side</h1>
    </aside>
    <main>
        <h1>main</h1>
    </main>
    <footer>
        <h1>footer</h1>
    </footer>

</body>
</html>