@charset "utf-8";

/* main */
.chatContainer{
    padding: 2%;
}
.chat{
    /* background-color: teal; */
    font-size: 0;
}
.chat div{
    display: inline-block;
}


/* main imgBox */
.imgBox{
    width: 20%;
    vertical-align: top;
}
.imgBox img{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
}

/* main comment */
.comment{
    margin-top: 30px;
    width: 65%;
    padding-left: 20px;
}
.comment p{
    font-size: 15px;
}
.comment small{
    font-size: 10px;
    color: #888;
}

/* main time */
.time{
    margin-top: 40px;
    width: 15%;
    font-size: 10px;
    color: #888;
    vertical-align: top;
}

